body
{
  font-size: 40pt;
}

h2{
  color:#00D5FC;
  margin-top:0pt;
}

h{
  color:#ffffff
}

p{
  font-size:30pt;
  margin-bottom:0pt;
}

ul{
  margin-top:0pt;
}

li{
  color:Red;
}

a{
  text-decoration:none;
  color:#FDF100;
  font-size:20pt;
}
